# Editor project files
/*.kpf
/*.komodotools
/*.komodoproject

# Testing repositories/files
test/*.frename
test/Files
test/*.txt

# Cmake builds
build
test/build

# Doxygen Output
Doxygen/html
Doxygen/latex